@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');

body {
    font-size: 12pt;
    font-family: arial;
}

p {
    color: red;
}

h1 {
    font-family: 'Agbalumo';
    font-size: 36pt;
}

main,
header,
footer,
nav ul {
    max-width: 40rem;
    margin: 0 auto 0 auto;
}

main {
    background-color: bisque;
}

/* nav ul li {
    display: inline-block;
    background-color: grey;
    padding: 1em;
    margin: 1em;
} */

header {
    background-image: url("../img/polacks.jpg");
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 200px;
    opacity: 0.5;
}

header h1 {
    width: 40rem;
    margin: 0 auto;
    text-align: center;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9.25em);
    gap: 1em;
    padding: 0;
}

nav li {
    display: block;
    background-color: grey;
    padding: 1em;
}

.Very-good {
    color: green;
}

.Master {
    color: green;
    font-weight: bold;
}

.allergy {
    font-weight: bold;
}

button:hover {
    background-color: #ffcc00;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
}

section {
    margin: 10px;
    border: 2px dashed black;
    padding: 10px;
}

#burgers {
    background-color: black;
    color: white;
    border: 2px dashed bisque;
    padding: 20px;
}

#topheader {
    margin: 20px;
}

header {
    position: relative;
    overflow: hidden;
    height: 200px;
}

header h1 {
    position: absolute;
    top: 40px;
}

header img {
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.burger-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.burger {
    text-align: left;
}
@media screen and (max-width: 800px) {
    h1 {
        font-size: 6vw;
    }
}
#burgers {
    border: 2px dashed white;
    padding: 1em 2em;
}

.burger-wrapper {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}
.burger-wrapper h3 {
    text-align: left;
    grid-column: span 3;
    font-size: small;
}
.burger h3 {
    margin-bottom: 0.5em;
}